<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wybór wizyty</title>
</head>
<body>

<h1>Wybierz opcję wizyty</h1>

<h2>Wizyta z {{ slot.doctor.get_full_name }}</h2>

<p>
    <strong>Data:</strong>
    {{ slot.start_datetime|date:"d.m.Y" }}
</p>

<p>
    <strong>Godzina:</strong>
    {{ slot.start_datetime|date:"H:i" }} –
    {{ slot.end_datetime|date:"H:i" }}
</p>

<form method="post" action="{% url 'booking:confirm_visit' slot.id %}">
    {% csrf_token %}

    <label for="service_id">Rodzaj wizyty:</label><br><br>

    <select name="service_id" id="service_id" required>
        <option value="" disabled selected hidden>
            Wybierz usługę
        </option>

        {% for service in services %}
            <option value="{{ service.id }}">
                {{ service.name }} – {{ service.price }}
            </option>
        {% endfor %}
    </select>

    <br><br>

    <button type="submit">Potwierdź wizytę</button>
</form>

</body>
</html>
