<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ specialization|capfirst }}</title>
</head>
<body>
    <h1>Lista lekarzy: {{ specialization }}</h1>
    {% if doctors %}
        <ul>
            {% for doctor in doctors %}
                <li>
                    <a href="{% url 'doctor_profile' doctor.specialization doctor.id %}">
                        {{ doctor.first_name }} {{ doctor.last_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak lekarzy w tej specjalizacji.</p>
    {% endif %}
    <p><a href="{% url 'specializations_list' %}">Powrót do wyboru specjalizacji</a></p>
    <p><a href="{% url 'menu_reservations' %}">Powrót do menu rezerwacji</a></p>
</body>
</html>