<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Znajdź lekarza i umów wizytę</title>
</head>
<body>
    <h1>Znajdź lekarza i umów wizytę</h1>

    <form method="get" action="">
    <label for="specialization">Specjalizacja:</label>

    <select name="specialization" id="specialization">
        <option value="">Wyszukaj specjalistę</option>
        <option value="chirurg">Chirurg</option>
        <option value="pediatra">Pediatra</option>
        <option value="kardiolog">Kardiolog</option>
        <option value="stomatolog">Stomatolog</option>
        <option value="onkolog">Onkolog</option>
        <option value="neurolog">Neurolog</option>
        <option value="dermatolog">Dermatolog</option>
    </select>

    <button type="submit">Szukaj</button>
</form>

    <p><a href="{% url 'menu_reservations' %}">Powrót do menu rezerwacji</a></p>
</body>
</html>