{% extends "registrations_visit/base.html" %}

{% load static %}

{% block title %}Blog - Lista postów{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">
{% endblock %}

{% block content %}
<h1>Nasze wiadomości</h1>

{% if posts %}
    {% for post in posts %}
        <div class="post-block">
            <h2>
                <a href="{% url 'visit:post_detail' post.pk %}">
                    {{ post.title }}
                </a>
            </h2>
            <p class="autor">Autor: {{ post.author.get_full_name }}</p>
            <p class="autor">{{ post.published_date|date:"d.m.Y H:i" }}</p>
            <p>{{ post.content|truncatewords:30 }}</p>
        </div>
    {% endfor %}
{% else %}
    <p>Brak postów.</p>
{% endif %}

<div class="back-link">
    <a href="{% url 'visit:home_page' %}">Powrót do menu rezerwacji</a>
</div>
{% endblock %}
