<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
</head>
<body>

    <h1>{{ post.title }}</h1>

    <div class="post-block">
        <p class="autor">Autor: {{ post.author.get_full_name }}</p>
        <p class="content">{{ post.content }}</p>
    </div>

    <div class="back-buttons">
        <div class="back-link">
            <a href="{% url 'visit:post_list' %}">Wróć do wszystkich postów</a>
        </div>

        <div class="back-link">
            <a href="{% url 'visit:home_page' %}">Powrót do menu rezerwacji</a>
        </div>
    </div>

</body>
</html>
