body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: white;
    padding: 5px 10px;
    max-width: 1600px;
    margin: 0 auto;
}

.header-block {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: right;
    text-shadow: 1px 1px 2px black;

}

.header-block h1 {
    display: flex;
    justify-content: right;
    margin: 10px;
    color: wheat;
    font-size: 28px;
    text-shadow: 1px 1px 2px black;
}

.content-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
}

.info-block {
    width: 50%;
    background: #417690;
    padding: 25px;
    border-radius: 10px;
    color: wheat;
}

.info-block h2 {
    margin-top: 0;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px black;
    font-size: 30px;
}

.info-block p {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

.info-block p strong {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px 2px gray;
}

.form-block {
    width: 50%;
    background: #417690;
    padding: 25px;
    border-radius: 10px;
    color: wheat;
}

.form-block h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black;
    font-size: 30px;
}

.form-block form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-block select {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid darkslategray;
    font-size: 16px;
}

.form-block button {
    align-self: flex-end;
    padding: 12px 22px;
    border-radius: 8px;
    border: 2px solid darkslategray;
    text-shadow: 1px 1px 2px black;
    background: #6f94c6;
    color: wheat;
    font-size: 16px;
    cursor: pointer;
}

.back-button {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
     align-items: flex-end;
}

.back-link {
    background-color: #fff;
    border: 2px solid #417690;
    border-radius: 8px;
    padding: 10px 15px;
    width: 230px;
    text-align: center;
}

.back-link a {
    text-decoration: none;
    color: #417690;
    font-weight: bold;
    font-size: 16px;
}