body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: white;
    padding: 5px 10px;
    max-width: 1600px;
    margin: 0 auto;
}

.main-block {
    font-size: 28px ;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    color: wheat;
    text-shadow: 1px 1px 2px black;
    text-align: left;
    justify-content: right;
}

.appointments-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
}

.appointments-block {
    width: 50%;
    background: #417690;
    padding: 25px;
    border-radius: 10px;
    color: wheat;
}

.appointments-block h3 {
     margin-top: 0;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px black;
    font-size: 30px;
}

.appointments-block p {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

.appointments-block p strong {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px 2px gray;
}

.appointments-block ol {
    padding-left: 20px;
}

.appointments-block li {
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black;
}

.appointments-block p {
    margin: 5px 0;
}

.appointments-block form button {
    padding: 10px 18px;
    border-radius: 8px;
    border: 2px solid darkslategray;
    text-shadow: 1px 1px 2px black;
    background: #6f94c6;
    color: wheat;
    font-size: 14px;
    cursor: pointer;
}

.back-wrapper {
    margin-top: 250px;
    text-align: right;
}

.back-wrapper a {
    padding: 12px 20px;
    border: 2px solid #417690;
    border-radius: 8px;
    text-decoration: none;
    color: #417690;
    font-weight: bold;
    background: white;
}