body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: white;
    padding: 5px 10px;
    max-width: 1600px;
    margin: 0 auto;
}

.success-container{
    max-width: 500px;
    margin: 50px auto;
    background: #417690;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 2px black;
    color: wheat;
    text-align: center;
}

.success-container h1 {
    font-size: 32px;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 20px;
}

.success-buttons a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 10px;
    background: #6f94c6;
    color: wheat;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s;
}
